h1,h2 { text-align: center;
      }
body{background-color: rosybrown;}
div{width: 80%; 
  background-color: burlywood; 
  margin-left: auto; margin-right: auto;}
img{
    }
p {text-align: center;}  
